[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/qrxnz/DoIt.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/qrxnz/hugo-profile.git
[submodule "themes/erblog"]
	path = themes/erblog
	url = https://github.com/qrxnz/erblog.git
