.pswp__button {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
}

.pswp__icn {
    fill: white !important;
}

.pswp__button--arrow--left {
    right: 10px;
    left: auto;
}

.pswp__button--arrow--right {
    left: 10px;
    right: auto;
}
